.filterTitle {
  text-decoration: underline;
  text-align: center;
}

.btn {
  background-color: lightgreen;
  padding: 5px;
  margin: 5px;
  width: 90px;
}

.button-container {
  width: 200px;
}

.title {
  font-weight: 700;
  font-size: larger;
}